In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# Use seaborn style defaults and set the default figure size
sns.set(rc={'figure.figsize':(11, 4)})

In [2]:
nutfile = pd.read_csv('Data\Guadalupe_inputall.csv', parse_dates=[0], index_col=0)

In [3]:
#resample the data to stitch together the missing days as NaN values
nutfile = nutfile.resample('D').mean()  
nutfile.head() #see what it looks like now..

                ddin      ddon
Date
1989-10-01  0.372439  0.119865
1989-10-02  0.143093  0.171541
1989-10-03  0.117466  0.177928
1989-10-04  0.077917  0.254226
1989-10-05  0.303583  0.144100

In [4]:
nutfile.isnull().values.any()  #True or False do we have missing values now?

True

In [5]:
nutfile.isnull().sum()  # how many?

ddin    42
ddon    42
dtype: int64

In [7]:
nutfile = nutfile.fillna(0)

In [8]:
nutfile.isnull().values.any()

False

In [22]:
if not nutfile.isnull().values.any():
    nutfile.to_csv('Data\Guadalupe_inputall_nonans.csv', header=True, index_label='Date')

In [41]:
#use this method to append the temperature data to input file

nutfile = pd.read_csv('Data\Guadalupe_inputall_nonans.csv', parse_dates=[0], index_col=0)
tempfile = pd.read_csv('Data\GECTemp.csv', parse_dates=[0], index_col=0)
result = pd.concat([nutfile, tempfile], axis=1, sort=False)
result = pd.concat([result['10/1/1989':], result[:'4/25/2019']])  #trim the dates to match

In [42]:
result.insert(0, 'Date', result.index)
result['Date'] = pd.to_datetime(result['Date'], format='%Y%m%d').dt.strftime('%m/%d/%Y')

In [43]:
result.to_csv('Data\Guadalupe_inputall_final.csv', header=True,index=False)